[submodule "code/arm/gemmlowp"]
	path = code/arm/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "code/arm/ComputeLibrary"]
	path = code/arm/ComputeLibrary
	url = https://github.com/ARM-software/ComputeLibrary.git
